@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../fonts/AvantGardeLT-Bold.otf');
@import url('../fonts/Plein-Variable.ttf');
@import url('../fonts/Poppins-Bold.ttf');


@layer base{
    @font-face {
        font-family: 'AvantGardeLT-Bold.otf';
        src: url('../fonts/AvantGardeLT-Bold.otf');
    };
    @font-face {
        font-family: 'Plein-Variable';
        src: url('../fonts/Plein-Variable.ttf');
    };
    @font-face {
        font-family: 'AvantGardeLT-Bold';
        src: url('../fonts/Poppins-Bold.ttf');
    };
    p{
        @apply font-Plein-Variable py-2 text-lg text-justify py-4
    }
}

@layer components{
    body {
        @apply items-stretch text-black
        
    }
    button {
        @apply p-4 bg-red border-2 border-white rounded-xl text-white font-Plein-Variable font-bold tracking-wide
    };
    h1 {
        @apply font-AvantGardeLT-Bold text-3xl md:text-3xl text-red p-2
    };
    h2 {
        @apply font-AvantGardeLT-Bold sm:text-sm md:text-2xl text-white p-2
    };
    h3{
        @apply font-AvantGardeLT-Bold sm:text-lg md:text-xl text-orange p-2
    };
    strong {
        @apply text-white 
    }
    .grid {
        max-width: none;
        align-items: normal;
        padding: 0;
        margin: 0;
    }
}


html{
    background: none;
    color: black;
}
