@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('../fonts/AvantGardeLT-Bold.otf');
@import url('../fonts/Plein-Variable.ttf');
@import url('../fonts/Poppins-Bold.ttf');


@layer base{
    @font-face {
        font-family: 'AvantGardeLT-Bold.otf';
        src: url('../fonts/AvantGardeLT-Bold.otf');
    };
    @font-face {
        font-family: 'Plein-Variable';
        src: url('../fonts/Plein-Variable.ttf');
    };
    @font-face {
        font-family: 'AvantGardeLT-Bold';
        src: url('../fonts/Poppins-Bold.ttf');
    };
    p{
        @apply font-Plein-Variable py-2 text-lg text-justify py-4
    }
}

@layer components{
    body {
        @apply items-stretch text-black
        
    }
    button {
        @apply p-4 bg-red border-2 border-white rounded-xl text-white font-Plein-Variable font-bold tracking-wide
    };
    h1 {
        @apply font-AvantGardeLT-Bold text-3xl md:text-3xl text-red p-2
    };
    h2 {
        @apply font-AvantGardeLT-Bold sm:text-sm md:text-2xl text-white p-2
    };
    h3{
        @apply font-AvantGardeLT-Bold sm:text-lg md:text-xl text-orange p-2
    };
    strong {
        @apply text-white 
    }
    .grid {
        max-width: none;
        align-items: normal;
        padding: 0;
        margin: 0;
    }
}


html{
    background: none;
    color: black;
}

.is-active {
    border-color: brown;
}

.splide__progress__bar {
    margin-top: 20px;
}
.splide__progress__bar {
    height: 3px;
    background: red;
  }

/* Gallery */

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
